package ${package}.dto;

import ${entity.superClass};
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * ${entity.caption} DTO
 * @author 代码生成器
 */
@Data @Builder @NoArgsConstructor @AllArgsConstructor
public class ${entity.name}${dtoSuffix} extends ${entity.superClassName} {
#foreach($field in ${entity.fields})
  private ${field.type} ${field.name};
#end
}
