package ${package}.dto.mapper;

import ${package}.entity.${entity.name};
import org.mapstruct.Mapper;
#foreach($prefix in ${requestDtoList})
import ${package}.dto.${prefix}${entity.name}Request;
#end
#foreach($prefix in ${responseDtoList})
import ${package}.dto.${prefix}${entity.name}Response;
#end

/**
 * ${entity.caption} DTO ${dtoSuffix}  mapper
 * @author 代码生成器
 */
@Mapper(componentModel = "spring")
public interface ${entity.name}Convert {
#foreach($prefix in ${requestDtoList})
  ${entity.name} from${prefix}${entity.name}Request(${prefix}${entity.name}Request req);
#end
#foreach($prefix in ${responseDtoList})
  ${prefix}${entity.name}Response to${prefix}${entity.name}Response(${entity.name} entity);
#end
}
