package ${config.pkg}.entity;

import ${entity.superClass};
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import com.baomidou.mybatisplus.annotation.*;

/**
 * ${entity.caption}
 * @author 代码生成器
 */
@Data @Builder @NoArgsConstructor @AllArgsConstructor
@TableName(name = "${entity.tableName}")
public class ${entity.name} extends ${entity.superClassName} {
#foreach($field in ${entity.fields})
  @TableField("${field.fieldName}")
  private ${field.type} ${field.name};
#end
}
