package ${config.pkg}.manager.impl;

import ${config.pkg}.dao.${entity.name}Dao;
import ${config.pkg}.entity.${entity.name};
import ${config.pkg}.manager.${entity.name}Manager;
import com.zy.mylib.mybatis.manager.MyBatisBaseManagerImpl;
import javax.inject.Named;

/**
 * ${entity.caption} 管理类
 * @author 代码生成器
 */
@Named
public class ${entity.name}ManagerImpl extends MyBatisBaseManagerImpl<${entity.name}Dao, ${entity.name}, String> implements ${entity.name}Manager {
}