package ${package}.rest;

import ${package}.entity.${entity.name};
import ${package}.manager.${entity.name}Manager;
import org.springframework.web.bind.annotation.*;
import com.zy.mylib.base.model.*;
import com.zy.mylib.webmvc.base.BaseRest;
import com.zy.mylib.webmvc.model.QueryWrapper;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import javax.inject.Inject;
import com.zy.mylib.base.exception.BusException;
import org.springframework.validation.annotation.Validated;
import java.util.List;
import java.util.stream.Collectors;
import ${package}.dto.Add${entity.name}Request;
import ${package}.dto.Add${entity.name}Response;
import ${package}.dto.Update${entity.name}Request;
import ${package}.dto.Update${entity.name}Response;
import ${package}.dto.Get${entity.name}Response;
import ${package}.dto.Query${entity.name}Response;
import ${package}.dto.mapper.${entity.name}Convert;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;

/**
 * ${entity.caption} rest接口
 * @author 代码生成器
 */
//@RestController
//@RequestMapping("/填写rest地址")
@Api(description = "${entity.caption}接口")
public class ${entity.name}Rest extends BaseRest {
  @Inject
  private ${entity.name}Manager manager;
  @Inject
  private ${entity.name}Convert convert;

  /**
   * 获取${entity.caption}详情
   */
  @GetMapping("{id}")
  @ApiOperation("获取${entity.caption}详情")
  public Get${entity.name}Response findOne(@PathVariable("id") String id) {
    ${entity.name} ret = manager.findById(id);
    if(ret != null) {
      return convert.toGet${entity.name}Response(ret);
    }
    throw BusException.builder().message("数据不存在").httpStatus(404).build();
  }

  /**
   * 创建${entity.caption}
   */
  @PostMapping
  @ApiOperation("创建${entity.caption}")
  public Add${entity.name}Response addEntity(@Validated @RequestBody Add${entity.name}Request req) {
    ${entity.name} entity = convert.fromAdd${entity.name}Request(req);
    return convert.toAdd${entity.name}Response(manager.add(entity));
  }

  /**
   * 更新${entity.caption}
   */
  @ApiOperation("更新${entity.caption}")
  @PutMapping
  public Update${entity.name}Response updateEntity(@Validated @RequestBody Update${entity.name}Request req) {
    ${entity.name} entity = convert.fromUpdate${entity.name}Request(req);
    return convert.toUpdate${entity.name}Response(manager.update(entity));
  }

  /**
   * 删除${entity.caption}
   */
  @ApiOperation("删除${entity.caption}")
  @DeleteMapping("{id}")
  public void remove(@PathVariable("id") String id) {
    manager.delete(id);
  }

  /**
   * 分页查询${entity.caption}
   */
  @ApiOperation("分页查询${entity.caption}")
  @GetMapping("/pager")
  public PageResponse<Query${entity.name}Response> findPage(QueryWrapper queryWrapper) {
    PageResponse<${entity.name}> pageResult = manager.pageQuery(queryWrapper.page, queryWrapper.sort, queryWrapper.cond);
    return PageResponse.Companion.fromRequest(queryWrapper.page, pageResult.getTotalElement(),
      pageResult.getList().stream().map(it -> convert.toQuery${entity.name}Response(it)).collect(Collectors.toList()));
  }
}