package ${basePackage}.dao;

import ${entityPackage}.${className};
import com.zy.mylib.data.jpa.JpaRepository;

/**
 * TODO: 注释
 * @author 代码生成器
 */
public interface ${className}Dao extends JpaRepository<$className, String> {
}