package ${basePackage}.manager.impl;

import ${basePackage}.dao.${className}Dao;
import ${entityPackage}.${className};
import ${basePackage}.manager.${className}Manager;
import com.zy.mylib.data.jpa.BaseJpaManager;
import com.zy.mylib.data.jpa.JpaRepository;

import javax.inject.Inject;
import javax.inject.Named;

/**
 * TODO: 注释
 * @author 代码生成器
 */
@Named
public class ${className}ManagerImpl extends BaseJpaManager<$className, String> implements ${className}Manager {
  @Inject
  ${className}Dao dao;
  
  @Override
  protected JpaRepository<$className, String> getRepository() {
      return dao;
  }

  /**
   * 查找存在的记录，用于新增和更新记录时判断是否已存在
   */
  @Override
  protected ${className} findExist(${className} entity) {
      return null;   
  }

	/**
	 * 新增保存前处理方法
	 * @param entity
	 */
	@Override
	protected void addProcess(${className} entity) {
	}

	/**
	 * 修改保存前处理方法
	 * @param entity
	 */
	@Override
	protected void updateProcess(${className} entity) {
	}
}
