package ${config.pkg}.dao;

import ${config.pkg}.entity.${entity.name};
import com.zy.mylib.data.jpa.JpaRepository;

/**
 * ${entity.caption} jpa dao
 * @author 代码生成器
 */
public interface ${entity.name}Dao extends JpaRepository<${entity.name}, String> {
}