<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.example.sys.mapper.ApiUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zy.mylib.webmvc.mybatis.test.sys.entity.ApiUser">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="secret" property="secret" />
        <result column="system" property="system" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, secret, system
    </sql>

<!--    <select id="selectPage" resultMap="BaseResultMap">-->
<!--        select <include refid="Base_Column_List"></include>-->
<!--        from api_user <where>${ew.customSqlSegment}</where>-->
<!--    </select>-->

</mapper>
