package ${package}.dto.mapper

import ${package}.entity.${entity.name}
import ${package}.dto.*
import org.mapstruct.Mapper

/**
 * ${entity.caption} DTO ${dtoSuffix}  mapper
 * @author 代码生成器
 */
@Mapper
interface ${entity.name}Convert {
  fun toRequest(entity: ${entity.name}): ${entity.name}Request
  fun toResponse(entity: ${entity.name}): ${entity.name}Response
  fun fromRequest(request: ${entity.name}Request): ${entity.name}
  fun fromResponse(response: ${entity.name}Response): ${entity.name}
}
